* {
    box-sizing: border-box;
  }
  
  body{
    font-family:Verdana;color:#aaaaaa;
  }
  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  a {
    background-color: #d2a6bf;
    padding: 20px;
    margin-top: 7px;
    display: block;
    width: 100%;
    border: rgb(255, 116, 243) 3px solid;
    color: black;
  }
  .cabecera{
    background-color:#8e91cb;
    padding:15px;
    border: rgb(116, 213, 255) 3px solid;
    text-align:center;
  }
  .main {
    background-color: #8ecba2;
    float: left;
    width: 50%;
    margin-top: 7px;
    border: rgb(99, 99, 99) 3px solid;
    padding: 0 10px;

  }
  
  .right {
    background-color: #70729c;
    float: left;
    width: 30%;
    padding: 30px;
    margin-top: 7px;
    border: rgb(113, 245, 5) 3px solid;
    text-align: center;
  }
  .final{
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    border: rgb(181, 53, 53) 3px solid;
    margin-top:7px;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  #img_aux{
    position: absolute;
    width: 60px;
    margin-left: 10%;
    border-radius: 50px;
    border: rgb(0, 76, 255) 3px solid;
  }
  #info{
    float: right;
    text-align: center;

  }
  #racoon_profile{
    width:300px;
    height: 300px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3px;
    opacity: 100%;
    border-radius: 8px;
    border: rgb(255, 0, 0) 5px solid;
    float: right;
  }