@font-face {
  font-family: "font_txt";
  src: url("Ghyne-9YRy5.otf");
}
@media screen and (max-width: 600px) {
  .back{
    width: 300%;
    margin-top: 70%;
    margin-left: 80%;
    
  }
  body{
    width: 30%;
    height: 10%;
  }
  img{
    width: 100%;
  }
  h1{
    
    text-align: center;
    width: 150%;
    font-size: 20px;
    margin-left: 40%;
    
  }
  #load{
    position: absolute;
    right: 90%;
    bottom: 0%;
    width: 20%;
  }

}
body {
    font-family: "font_txt";
    color: #FFF;
    background-color: grey;
    position:absolute;
    left: 38%;
    top: 5%;
    background-image: url(fondo.gif);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
  }
#load{
  border: 20px ridge rgba(232, 242, 255, 0.4);
  border-radius: 30px;
  width: 70%;
  position: absolute;
  right: 110%;
  top: -50%;
  
}
#cloud {
  
  display: none;
  border: 8px inset rgb(136, 136, 136);
  border-radius: 10px;
}
#imagesrc {
  
  border: 8px inset rgb(136, 136, 136);
  border-radius: 10px;
}
#imagesrchide {
  display: none;
  border: 8px inset rgb(136, 136, 136);
  border-radius: 10px;
}

h1{
  color: black;
  padding: 10px;
  text-align: center;
  border: 8px inset rgba(40, 96, 175, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border-width: 5px;
}

#envio{
  position: absolute;
  top: 110%;
  left: 85%;
}
#destino{
  margin-top: 10px;
  border: 8px inset rgb(136, 136, 136);
  border-radius: 10px;
}
#control{
  display: flex;
  border: 8px inset rgba(40, 96, 175, 0.5);
  background-color: rgba(145, 255, 255, 0.5);
  border-radius: 25px;
  padding: 20px;
  position: absolute;
  top: 105%;
  left: -10%;
  
}
.back{

  padding: 30px;
  border: 10px ridge rgba(146, 191, 255, 0.8);
  border-radius: 25px;
  background-color: rgba(59, 111, 255, 0.5);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 10%);
  text-align: center;

}
button {
  cursor:pointer;
  background: #505167;
  color: #FFF;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  border: 5px inset rgb(88, 115, 152);
  font-family: Fredoka;
  font-size: 18pt;
}
button:hover{
  background: #282A3A;
  color: rgb(104, 190, 255);
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  border: 5px outset rgb(119, 127, 203);
  font-family: Fredoka;
  font-size: 18pt;
}

